@model HotelReservationsManager.Models.Rooms.RoomsCreateViewModel
@using Data.Entity;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdultBed" class="control-label"></label>
                <input asp-for="AdultBed" class="form-control" />
                <span asp-validation-for="AdultBed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildBed" class="control-label"></label>
                <input asp-for="ChildBed" class="form-control" />
                <span asp-validation-for="ChildBed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available" class="control-label"></label>
                <input asp-for="Available" class="form-control" />
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <select asp-for="RoomType"
                        asp-items="Html.GetEnumSelectList<RoomType>()">
                </select>
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


